.meni
{
    background-color: #b8b5ff;
    width: auto;

    padding: 20px;
}

#homeb
{
    width: auto;
    height: auto;
    background-color: white;

    border: 3px solid #7868e6;
    margin: auto;

    transition: 0.5s;
    cursor: pointer;
}

.active, #homeb:hover
{
    border: 3px dashed #7868e6;
}

#homeimg
{
    width: 50px;
}

#panel1, #panel2, #panel3
{
    display: none;
    
    width: 90%;
    height: auto;

    background-color: #7868e6;

    margin: auto;
    margin-bottom: 20px;

    padding: 10px;
}

.b1
{
    background-color: #b8b5ff;

    border: 3px solid #7868e6;

    color: #edeef7;
    font-size: 18px;
    font-weight: 900;

    margin-bottom: 10px;

    padding: 10px;

    width: 250px;
    height: auto;

    transition: 0.5s;
    cursor: pointer;
}

.active, .b1:hover
{
    border: 3px dashed #7868e6;
    
    background-color: #edeef7;
    color: #b8b5ff;
}

.b2
{
    background-color: #7868e6;
    color: #edeef7;
    font-size: 15px;
    font-weight: 700;

    border: 3px solid #b8b5ff;

    padding: 10px;

    height: auto;
    width: 250px;

    transition: 0.5s;
    cursor: pointer;
}

.active, .b2:hover
{
    border: 3px dashed #b8b5ff;

    background-color: #edeef7;
    color: #7868e6;
}
